<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HyperTraceSample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4AAF2DC029CEB34B0B72A4516C4443EE7DD66DEF</string>
				<key>dateExpires</key>
				<string>29.01.22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32C74H6WSX.tech.hyperjump.HyperTraceSample</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NNTV3ZQR3E</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>32C74H6WSX.tech.hyperjump.HyperTraceSample</string>
				</array>
			</dict>
			<key>name</key>
			<string>HyperTraceSample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4fdb5f37-c020-4e07-ba73-e277828b0902</string>
				<key>dateExpires</key>
				<string>29.01.22</string>
				<key>name</key>
				<string>HyperTrace Sample Adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NNTV3ZQR3E</string>
				<key>name</key>
				<string>nico prananta</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
