<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://p-lux2.pcloud.com/D4ZZbU5hpdZZZ6EX9i7Z2ZZdFRZkZZbVZzZTFZzJH3XZj2wBrRi1qfzr7D8yPzamHbkdgrxk/app.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://p-lux2.pcloud.com/D4ZZbU5hpdZZZ6EX9i7Z2ZZdFRZkZZbVZzZTFZzJH3XZj2wBrRi1qfzr7D8yPzamHbkdgrxk/app.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://p-lux2.pcloud.com/D4ZZbU5hpdZZZ6EX9i7Z2ZZdFRZkZZbVZzZTFZzJH3XZj2wBrRi1qfzr7D8yPzamHbkdgrxk/app2.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>tech.hyperjump.OpenTraceSample</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>OpenTraceSample</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
